.header {
  pointer-events: none;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 200px;
  justify-content: center; 
  align-items: center;    
  background: linear-gradient(90deg, rgb(28,33,37), rgb(50,56,56));

  top: 0;
  margin-top: 2.5px;
  border-bottom: solid rgb(161, 37, 32) 1px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.headertxt img.header-logo {
  padding-top: 8%;
  height: 250px;
  width: auto;
}


