.nav {
    position: relative;
    width: 100%;
    left: 0%;
    height: 40px;
    display: flex;
    margin-top: 5px;
    border-bottom: solid rgb(161, 37, 32) 1px;
    background-color: rgb(28, 33, 37);  
  }
  
  .nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }