#root {
  background-color: rgb(12, 12, 12);
  display: flex;
  flex-direction: column;
  height: 100%; 
}

html, body {
  height: 100%;          
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: black;
  color: rgb(242, 245, 245);
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  scroll-behavior: smooth;
}

main {
  flex: 1; 
  overflow-y: auto; 
  min-height: 0;
  background-color:rgb(50, 56, 56);
  border-top: solid rgb(161, 37, 32) .1px;
  padding-left: 1%;
  background-color: rgb(44, 46, 46);
}


.section {
  line-height: 2rem;
  margin-bottom: 1%;
  padding-left: 1.15%;
  padding-right: 1.15%;
  padding-top: 1.15%;
}


p {
  margin-top: 0%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0%;
}

h2 {
  margin-top: 0%;  
}

Date {
text-decoration: underline;
margin: 1%;
}



/* Adjust the scrollbar for the .content element */
.content {
  flex: 1; 
  overflow-y: scroll; 
  overflow-x: hidden;
  padding: 1px;
  max-width: auto;
}

::-webkit-scrollbar {
  height: 0px;
  width: 2px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

