


  /* Cube */


  .reactCube {
    /* Add your specific styles for the React-controlled cube here */
    /* Exclude the spinning animation for this cube */
    animation: none !important; /* This overrides any animation applied */
  }
  /* Cube */


  .character {
    position: relative;
    width: 200px;
    height: 400px;
    perspective: 800px;
  }
  
  .head,
  .body,
  .arm,
  .leg {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border: 1px solid #aaa;
    transform-style: preserve-3d;
  }
  
  .head {
    top: 10px;
    left: 75px;
    z-index: 10; /* Head appears in front */
  }
  
  .body {
    top: 70px;
    left: 75px;
  }
  
  .arm,
  .leg {
    width: 20px;
    height: 80px;
  }
  
  .arm.left {
    top: 70px;
    left: 0;
    transform-origin: 100% 0;
    transform: rotateZ(-30deg);
  }
  
  .arm.right {
    top: 70px;
    right: 0;
    transform-origin: 0 0;
    transform: rotateZ(30deg);
  }
  
  .leg.left {
    bottom: 0;
    left: 40px;
  }
  
  .leg.right {
    bottom: 0;
    right: 40px;
  }
  